dist
/static
/.idea/
.data
.mc
.ssh
.bash_history
.svn
*.rar
*.zip
*.7z
*.pyc
*.orig
Thumbs.db
.project
.pydevproject
.settings
.idea
temp.py
/doc
.vscode
.pytest_cache
frontend_assets
*.pem
*/__pycache__
dump.rdb
deployment/.env
*/.DS_Store
backend/portal/settings/local_settings.py