[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
django-split-settings = "*"
tendo = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
django-extensions = "*"
django-rest-passwordreset = "*"
drf-yasg = "*"
dotmap = "*"
xxhash = "*"
gunicorn = "*"
tqdm = "*"

[dev-packages]
black = "*"
flake8 = "*"

[requires]
python_version = "3.9"
