html {
    font-family: "DM Sans", sans-serif;

    body {
        max-width: 1160px;
        background-color: #FFFFFF;
        margin: 0 auto;
    
        ul {
            padding: 0;
            margin: 0;
            
            li {
                list-style: none;
            }
    
        }

        .input-error-notification {
            color: $red;
            font-size: 14px
        }
           
    }
}
