// Color variables

$white: #FCFCFC;
$black: #000000;

$gray-100: #CFCBC8;
$gray-150: #FAFAFA;
$gray-200: #CFCBC8;
$gray-250: #E8F6FD;
$gray-300: #EEEEEE;
$gray-700: #6B6B6B;
$gray-800: #6F6F6F;
$gray-1000: #343434;

$blue: #45C5FC;

$yellow: #FCD445;

$red: #CE0000;