// Color variables
$white: #FDFDFF;
$black: #000000;

$gray-300: #EEEEEE;
$gray-600: #CED6EB;
$gray-800: #616161;
$gray-900: #616D74;
$gray-1000: #343434;

$blue: #006699;
$blue-100: #E6F0F5;

$red: #bb0000;

$green: #4EB709;

