// Color variables
$white: #FDFDFF;
$black: #000000;
$snowy-whte: #FFF;

$gray-300: #EEEEEE;
$gray-400: #7A7A7A;
$gray-600: #CED6EB;
$gray-700: #919AA9;
$gray-800: #616161;
$gray-900: #616D74;
$gray-1000: #343434;

$blue: #006699;
$blue-50: #F6F8FF;
$blue-100: #E6F0F5;
$blue-200: #F1F9FE;
$blue-300: #E3ECFF;
$blue-800: #13398D;

$red: #bb0000;

$pink: #F577D2;

$green: #4EB709;

