.home-page-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0 60px 0;

    h1 {
        font-size: 64px;
        font-weight: 700;
        text-align: center;

        .blue-text {
            color: $blue;
        }
    }

    .home-page-main-block {
        display: flex;
        width: 100%;

        .home-page-img {
            width: 50%;
        }

        .home-page-form-wrapper {
            width: 50%;

            .home-form {
                padding: 25px 50px;
                border-radius: 34px;
                border: 1px solid $gray-600;

                h2 {
                    color: $gray-1000;                    
                    font-size: 24px;                   
                    font-weight: 700;                   
                }

                hr {
                    height: 1px;
                    border: none;
                    background-color: $gray-600;
                }
            }
        }
    }
}