.home-page-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 60px 0;
    width: 100%;

    h1 {
        font-size: 64px;
        width: 75%;
        font-weight: 700;
        text-align: center;
        line-height: 115%;
        margin-top: 50px;
        color: $gray-1000;

        .blue-text {
            color: $blue;
        }

        @media (max-width: 1440px) {
            font-size: 56px;
        }

        @media (max-width: 885px) {
            line-height: 1;
        }
    }

    .home-page-btn-wrapper {
        display: flex;
        justify-content: flex-end;
        justify-content: space-between;
        margin: 80px 0 120px 0;
        width: 300px;

        .btn-blue {
            text-decoration: none;
            background-color: $blue;
            color: $white;
            font-size: 16px;
            border: none;
            border-radius: 46px;
            padding: 11px 20px;
            cursor: pointer;
        }
    }
}