.home-page-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 100px 0;
    width: 100%;

    h1 {
        font-size: 64px;
        width: 75%;
        font-weight: 700;
        text-align: center;
        line-height: 115%;
        margin-top: 100px;
        color: $gray-1000;

        .blue-text {
            color: $blue;
        }

        @media (max-width: 1440px) {
            font-size: 56px;
        }

        @media (max-width: 885px) {
            line-height: 1;
        }

        @media (max-width: 768px) {
            font-size: 42px;
        }

        @media (max-width: 360px) {
            font-size: 38px;
            word-break: break-word;
        }

        @media (max-width: 340px) {
            word-break: break-word;
        }

    }

    .home-page-btn-wrapper {
        display: flex;
        justify-content: flex-end;
        justify-content: space-between;
        margin: 30px 0 120px 0;
        width: 350px;

        @media (max-width: 390px) {
            flex-direction: column;
        }

        .btn-blue {
            text-decoration: none;
            background-color: $blue;
            color: $white;
            font-size: 16px;
            border: none;
            border-radius: 46px;
            padding: 11px 20px;
            cursor: pointer;

            @media (max-width: 390px) {
                text-align: center;
                margin: 0 auto 10px auto;
            }
        }
    }

    .shadow-ellipse {
        position: absolute;
        width: 663px;
        height: 664px;
        z-index: -1;
        border-radius: 663px;
        background: rgba(225, 255, 253, 0.26);
        filter: blur(53.5px);

        @media (max-width: 940px) {
            display: none;
        }
    }

    .shadow-ellipse-right {
        top: -250px;
        right: 0;
    }
}