.checklist-wrapper {
    margin-bottom: 40px;

    h3 {
        font-size: 24px;
        font-weight: 700;
        line-height: 150%;
        margin: 10px 0;

        @media (max-width: 768px) {
            font-size: 20px;   
            margin: 20px 0;        
        }
    }

    button {
        background-color: $blue;
        cursor: pointer;
        color: $white;
        font-size: 18px;
        border: none;
        border-radius: 5px;
        padding: 16px 48px;
    }

    .hide {
        display: none;
    }
    
    .next-step-button {
        background-color: $blue;
        color: $white;
        font-size: 18px;
        border: none;
        border-radius: 46px;
        padding: 16px 26px;
        cursor: pointer;
    }
}