.recursive-wrapper {   
    margin-bottom: 20px;
    
    input {
        cursor: pointer;

        &[type="radio"]:checked,
        &[type="radio"]:not(:checked) {
            position: absolute;
            left: -9999px;
        }

        &[type="radio"]:checked + label,
        &[type="radio"]:not(:checked) + label {
            position: relative;
            padding-left: 28px;
            line-height: 20px;
            display: inline-block;
                   
        }

        &[type="radio"]:checked + label:before,
        &[type="radio"]:not(:checked) + label:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 18px;
            height: 18px;
            border: 2px solid $gray-1000;
            border-radius: 100%;
            background: $white;
        }
        &[type="radio"]:checked + label:after,
        &[type="radio"]:not(:checked) + label:after {
            content: '';
            width: 14px;
            height: 14px;
            background: $gray-1000;
            position: absolute;
            top: 4px;
            left: 4px;
            border-radius: 100%;
            -webkit-transition: all 0.2s ease;
            transition: all 0.2s ease;
        }
        &[type="radio"]:not(:checked) + label:after {
            opacity: 0;
            -webkit-transform: scale(0);
            transform: scale(0);
        }
        &[type="radio"]:checked + label:after {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1);
        }

        
        &[type="checkbox"]:checked,
        &[type="checkbox"]:not(:checked) {
            position: absolute;
            left: -9999px;
        }

        &[type="checkbox"]:checked + label,
        &[type="checkbox"]:not(:checked) + label {
            position: relative;
            padding-left: 28px;
            line-height: 20px;
            display: inline-block;
            line-height: 25px;         
        }

        &[type="checkbox"]:checked + label:before,
        &[type="checkbox"]:not(:checked) + label:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 18px;
            height: 18px;
            border: 2px solid $gray-1000;
            border-radius: 5px;
            background: $white;
        }
        &[type="checkbox"]:checked + label:after,
        &[type="checkbox"]:not(:checked) + label:after {
            content: '\2713';
            display: flex;
            justify-content: center;
            align-items: center;
            color: $white;
            width: 18px;
            height: 18px;
            background: $gray-1000;
            position: absolute;
            top: 2px;
            left: 2px;
            border-radius: 2px;
            -webkit-transition: all 0.2s ease;
            transition: all 0.2s ease;
        }
        &[type="checkbox"]:not(:checked) + label:after {
            opacity: 0;
            -webkit-transform: scale(0);
            transform: scale(0);
        }
        &[type="checkbox"]:checked + label:after {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1);
        }

    }
    
    label {
        font-size: 24px;
        font-weight: 700;
    }

    .offset { 
        margin: 30px 0 30px 30px; 
        font-size: 12px;

          label {
            font-size: 18px;
            font-weight: 400;
            cursor: pointer;    
        }
    }

    .bold-text {
        font-weight: 600;
    }

    .red {
        color: $red;
    }
}
