.smart-engine-wrapper, .smart-engine-success-wrapper {
    
    h3 {
        font-size: 32px;
        color: $blue;
        font-weight: 700;
    }

    .smart-engine-list {
        margin: 50px 0;

        .check-item {
            display: block;
            margin: 12px 0;

            input {
                cursor: pointer;
        
                &[type="radio"]:checked,
                &[type="radio"]:not(:checked) {
                    position: absolute;
                    left: -9999px;
                }
        
                &[type="radio"]:checked + label,
                &[type="radio"]:not(:checked) + label {
                    position: relative;
                    padding-left: 28px;
                    line-height: 20px;
                    display: inline-block;
                           
                }
        
                &[type="radio"]:checked + label:before,
                &[type="radio"]:not(:checked) + label:before {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 18px;
                    height: 18px;
                    border: 2px solid $gray-1000;
                    border-radius: 100%;
                    background: $white;
                }
                &[type="radio"]:checked + label:after,
                &[type="radio"]:not(:checked) + label:after {
                    content: '';
                    width: 14px;
                    height: 14px;
                    background: $gray-1000;
                    position: absolute;
                    top: 4px;
                    left: 4px;
                    border-radius: 100%;
                    -webkit-transition: all 0.2s ease;
                    transition: all 0.2s ease;
                }
                &[type="radio"]:not(:checked) + label:after {
                    opacity: 0;
                    -webkit-transform: scale(0);
                    transform: scale(0);
                }
                &[type="radio"]:checked + label:after {
                    opacity: 1;
                    -webkit-transform: scale(1);
                    transform: scale(1);
                }
        
                
                &[type="checkbox"]:checked,
                &[type="checkbox"]:not(:checked) {
                    position: absolute;
                    left: -9999px;
                }
        
                &[type="checkbox"]:checked + label,
                &[type="checkbox"]:not(:checked) + label {
                    position: relative;
                    padding-left: 28px;
                    line-height: 20px;
                    display: inline-block;
                    line-height: 25px;         
                }
        
                &[type="checkbox"]:checked + label:before,
                &[type="checkbox"]:not(:checked) + label:before {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 18px;
                    height: 18px;
                    border: 2px solid $gray-1000;
                    border-radius: 5px;
                    background: $white;
                }
                &[type="checkbox"]:checked + label:after,
                &[type="checkbox"]:not(:checked) + label:after {
                    content: '\2713';
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: $white;
                    width: 18px;
                    height: 18px;
                    background: $gray-1000;
                    position: absolute;
                    top: 2px;
                    left: 2px;
                    border-radius: 2px;
                    -webkit-transition: all 0.2s ease;
                    transition: all 0.2s ease;
                }
                &[type="checkbox"]:not(:checked) + label:after {
                    opacity: 0;
                    -webkit-transform: scale(0);
                    transform: scale(0);
                }
                &[type="checkbox"]:checked + label:after {
                    opacity: 1;
                    -webkit-transform: scale(1);
                    transform: scale(1);
                }
        
            }
        
            label {
                font-size: 18px;
                font-weight: 400;
                cursor: pointer;    
            }

            .error-message {
                display: block;
                color: red;
                font-size: 14px;
            }
        }

        .smart-engine-list-header {
            display: block;
            font-size: 24px;
            font-weight: 700;
        }

        .additional-info-wrapper {
            height: 60px;
            overflow: hidden;
            background: $white;
            position: relative;

            &:before {
                content:"";
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 35px;
                background: linear-gradient(to top, $white, transparent); 
              }
           

            .additional-info {
                display: block;
                font-size: 16px;
                line-height: 150%;
                width: 95%;
                margin: 0 auto;
            }
        }        
    }

    button {
        margin-top: 10px;
        background-color: $blue;
        cursor: pointer;
        color: $white;
        font-size: 18px;
        border: none;
        border-radius: 50px;
        padding: 16px 48px;
    }
   
    .smart-engine-table-wrapper {
        overflow: hidden; 
        border: 1px solid $blue;
        border-radius: 10px;

        table {
            padding: 10px 5px 50px 5px;
            border-collapse: collapse;
            width: 100%;
            
            thead {
               
                tr {
                    th:first-child {
                        width: 60%;
                    }
                    th:last-child {
                        width: 15%;
                        text-align: center;
                    }
                    th {
                        background-color: $blue;
                        color: $white;
                        font-size: 16px;
                        font-weight: 400;
                        text-align: left;
                        padding: 12px 0 12px 8px;
                        border-bottom: 1px solid $blue;
                    }
                }
            }
    
            tbody {
    
                tr {
                    td:first-child {
                        width: 60%;
                    }
                    td:last-child {
                        width: 15%;
                    }
                    td {
                        vertical-align: top;
                        background-color: $blue-200;
                        padding: 20px 0 20px 8px;
                        font-size: 16px;
                        border-top: 1px solid $blue;
                        font-weight: 400;
                        text-align: left;
                        
                        .download {
                            text-align: center;
    
                            a {
                                text-decoration: none;
                                background-color: $blue-400;
                                padding: 11px 20px;
                                border-radius: 59px;
                                color: $blue;
                                font-size: 16px;
                                font-weight: 500;
                            }
                        }
                        .table-input-wrapper {
                            text-align: center;
                        }
                    }
    
                }
            }
        }

    }

    .cover-my-meds-wrapper {
        width: 520px;
        padding: 55px;
        border: 1px solid $blue;
        border-radius: 34px;
        margin-top: 74px;
        background-color: $white;

        .cover-my-meds-header {
            font-size: 24px;
            font-weight: 700;
        }

        hr {
            height: 1px;
            background-color: $blue;
            border: none;
            margin: 16px 0 32px 0;
        }

        .cover-my-meds-key {
            font-size: 16px;
            font-weight: 500;
            margin-bottom: 12px;
        }

        input {
            width: 300px;

            &::placeholder {
                font-size: 16px;
                color: $gray-400;              
            }          
        }

        .input-error-notification {
            display: block;
        }
    }

    .smart-engine-start-new-patient {
        margin-top: 50px;
        text-align: left;
        cursor: pointer;

        span {
            font-size: 25px;
            color: $blue;
            font-weight: 700;
        }        
    }

    .smart-engine-submit {
        margin-top: 50px;
    }
}

.smart-engine-success-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15vh;

    h2 {
        font-size: 48px;
        line-height: 0.5;
    }

    p {
        font-size: 18px;
        line-height: 0.5;   
    }

    .smart-engine-start-new-patient {
        margin-top: 35px;
    }
}