.usefulness-questionnaire-wrapper {
    width: 100%;
    padding: 27px 0 27px 0;
    background-color: $blue-200;
    margin: 120px auto 50px auto;
    
    h2 {
        font-size: 24px;
        font-weight: 700;
        color: $blue;
        text-align: center;

        @media (max-width: 1440px) {
            font-size: 24px;
        }
    }

    .buttons-wrapper {
        display: flex;
        justify-content: center;
        margin: 0 auto;


        .action-btn {
            display: flex;
            align-items: center;
            cursor: pointer;
            padding: 12px 32px;
            background-color: $blue;
            border-radius: 5px;
            margin: 10px;

            
            img {
                margin-right: 2px;
            }

            span {
                color: $white;
                font-weight: 500;
                font-size: 16px;
                margin-left: 3px;
            }
        }

        .dislike-button {
            img {
                transform: rotate(180deg);
            }
        }
    }
}