.usefulness-questionnaire-wrapper {
    width: 70%;
    z-index: 100;
    padding: 13px 50px 50px 50px;
    background-color: $blue-200;
    border-radius: 24px;
    margin: 50px auto 120px auto;

    h2 {
        font-size: 48px;
        font-weight: 700;
        color: $blue;
        text-align: center;

        @media (max-width: 1280px) {
            font-size: 42px;
        }
    }

    .buttons-wrapper {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        max-width: 270px;

        .action-btn {
            display: flex;
            align-items: center;
            cursor: pointer;
            padding: 12px 32px;
            background-color: $blue;
            border-radius: 5px;
            
            img {
                margin-right: 2px;
            }

            span {
                color: $white;
                font-weight: 500;
                font-size: 16px;
                margin-left: 3px;
            }
        }

        .dislike-button {
            img {
                transform: rotate(180deg);
            }
        }
    }
}