.usefulness-questionnaire-wrapper {
    width: 100%;
    padding: 27px 0 27px 0;
    margin: 120px auto 50px auto;
    
    h2 {
        font-size: 24px;
        font-weight: 700;
        color: $blue;
        text-align: center;

        @media (max-width: 1440px) {
            font-size: 24px;
        }
    }

    .buttons-wrapper {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        font-size: 16px;

        .action-btn {
            display: flex;
            align-items: center;
            border: 1px solid $blue;
            cursor: pointer;
            padding: 12px 32px;
            background-color: $snowy-whte;
            border-radius: 50px;
            margin: 10px;

            
            img {
                margin-right: 2px;
            }

            span {
                color: $blue;
                font-weight: 500;
                font-size: 16px;
                margin-left: 3px;
            }
        }

        .dislike-button {
            img {
                transform: rotate(180deg);
            }
        }

        .active-questionnaire-btn {
            background-color: $blue;

            span {
                color: $snowy-whte;
            }
        }        
    }

    .questionnaire-text-wrapper {
        position: relative;
        margin: 47px auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 816px;
        border: 1px solid $blue;
        background-color: $white;
        border-radius: 15px;
        padding: 32px;

        .textarea {
            width: 95%;
            border: 1px solid $gray-600;
            border-radius: 15px;
            padding: 15px;

            &::placeholder {
                font-size: 16px;
                color: $gray-400;  
            }
        }

        .questionnaire-text-btn-wrapper {
            margin-top: 30px;   

            .action-btn {      
                align-items: center;
                cursor: pointer;
                padding: 12px 32px;
                background-color: $blue;
                border-radius: 50px;
                margin: 10px;
                color: $snowy-whte;
            }
        }
    }

    .final-request-message-wrapper {
        font-size: 24px;
        font-weight: 700;
        color: $blue;
        text-align: center;
        margin-bottom: 50px;
    }
}