.success-request-modal-window {
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 10;
    width: 720px;
    padding: 42px 42px 140px 42px;
    border-radius: 32px;
    background-color: $white;
    border: 1px solid $gray-600;
    margin-top: 230px;
    box-sizing: border-box;

    @media (max-width: 768px) {
        width: 90%;
        margin: 150px auto;
    }

    .cross-wrapper {
        display: flex;
        justify-content: flex-end;
        cursor: pointer;
    }

    .modal-content-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 74px;

        .main-window-img-wrapper {
            margin-bottom: 24px;
        }

        span {
            display: block;
            text-align: center;
            max-width: 451px;
            font-size: 24px;
            font-weight: 700;
            color: $gray-1000;
        }
    }
}
