footer {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 1160px;
    justify-content: space-between;
    border-top: 1px solid $gray-600;
    padding: 20px 0;
    font-size: 14px;

    @media (max-width: 605px) {
        flex-direction: column;
        align-items: center;
    }

    .right-footer {
        @media (max-width: 605px) {
            margin-top: 20px;
        }
        ul {
            display: flex;
            justify-content: space-between;
            width: 280px;

            @media (max-width: 605px) {
                flex-direction: column;
                align-items: center;
            }
        }

    }   

}