header {
    display: flex;
    justify-content: space-between;

    .header-menu {
        width: 40%;
        display: flex;
        justify-content: space-around;
    }

      ul {
          display: flex;
          width: 60%;
          justify-content: space-between;
      }

}