.form {
    label {
        margin: 16px 0 12px 0;
       
        color: $gray-1000;

        @media (max-width: 605px) {
            font-size: 14px;
        }     
    }

    .row-with-two-input {
        display: flex;
        justify-content: space-between;

        @media (max-width: 605px) {
            flex-direction: column;
        }  

        .cover-my-meds-key, .patient-last-name, .date-of-birth, .patient-member-id {
            width: 47%;       

            @media (max-width: 605px) {
                width: 100%;
            }                
        }

        select {
            appearance: none;
            background-color: $snowy-whte !important;
            cursor: pointer;
        }

        .custom-select-arrow {
            background-image: url('@/assets/images/select-arrow.svg');
            background-repeat: no-repeat, repeat;
            background-position: right 1.2em top 50%, 0 0;
            background-size: 1.3em auto, 100%;
        }
              
    }

    .row-with-one-input {
        display: flex;
        flex-direction: column;                      
    }

    .agreement {
        display: block;
        margin: 16px 0;
        font-size: 16px;
        font-weight: 500;
        color: $gray-700;
    }

    .agreement a {
        color: $gray-700;
    }

    button {
        margin-top: 28px;
        cursor: pointer;
        margin-bottom: 10px;
    }
}